<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="http://qgis.org/pt_PT/site/forusers/download.html" target="_blank">Download</a></li>
                <li><a href="http://qgis.org/pt_PT/docs/index.html" target="_blank">Documentação</a></li>
                <li><a href="{{ site.url }}/participar.html">Como participar</a></li>
                <li><a href="{{ site.url }}/eventos.html">Eventos</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">QGIS PT <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.url }}/traducao.html">Tradução</a></li>
                        <li><a href="{{ site.url }}/plugins.html">Módulos para QGIS</a></li>
                        <li><a href="{{ site.url }}/pdm2qgis.html">Norma PDM2QGIS</a></li>
                        <!--<li><a href="">Casos de estudo</a></li>
                        <li><a href="">Estilos e simbologia</a></li>
                        <li><a href="">Modelos de processamento</a></li>-->
                    </ul>
                </li>
                <li class="active"><a href="{{ root_url }}">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
                <li>
                    <a class="rss" title="Subscrever via RSS" rel="subscribe-rss" href="{{ site.subscribe_rss }}" target="_blank"></a>
                </li>
                {% if site.subscribe_email %}
                <li>
                    <a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a>
                </li>
                {% endif %}
            </ul>
            {% if site.simple_search %}
            <form class="navbar-form navbar-right search-box" role="search" action="{{ site.simple_search }}" method="get">
                <div class="form-group">
                    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}/blog" />
                    <input type="text" class="form-control search-glow" name="q" results="0" placeholder="Pesquisar">
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
